<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" href="../css/chatroom.css">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stomp-websocket/lib/stomp.min.js"></script>
    <script src="../js/chatroom.js"></script>
</head>
<body>
<h2>Chat Room <div id="chat"></div></h2>
<button id="connect" onclick="connect();">Connect</button>
<div id="conversation" style="visibility: hidden;">
    <input type="text" id="message" autocomplete="off" />
    <button id="send" onclick="sendMessage();" disabled="true">Send</button>
    <ul id="messages"></ul>
</div>
</body>
</html>
